MGHPCC Shared Services Account Update - EMAIL CHANGED (Step 1)

An account update with a change of email address has 
been requested.

 * Old Email: {{ old_email }}
 * New Email: {{ new_email }}

If you choose to proceed, we will send you a confirmation 
email at the new address. That email will contain a link 
that you must click to verify your new email and to complete 
this account update.

If you did not initiate this account update, please
contact the MGHPCC Shared Services team at support@mss.mghpcc.org.

Click the link below if you want to proceed.

https://{{ SITENAME }}{{ url('site_validate') }}?regcode={{ regcode }}

The MGHPCC Shared Services Team
