
{% extends "regapp/base.j2" %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>MGHPCC Shared Services Registration Portal - Profile Management</h1>
        <p class="mt-4">
            You may update your MGHPCC-SS user profile here
        </p>
    </div>
</div>
<div class="row mt-4">
    <div class="col">

        <h4>Account Profile information</h4>

        {% if not form.accept_privacy_statement.value() %}
        <p>
            Please read the <a href="{{url('site_terms')}}"> {{terms.title}} {{terms.version}}</a> and accept
            the terms by checking the box in the form below.
        </p>
        {% endif %}

        <form id="{{form.helper.form_id}}" action="{{request.path_info}}" method="GET">
            {{ csrf_input }}
            {{ crispy(form) }}
            <div class="float-right">
                <input id="updateaccount" name="updateaccount" type="submit" class="btn btn-primary" value="Update MGHPCC-SS Account" />
            </div>
        </form>
    </div>
</div>



{% endblock %}
