MGHPCC Shared Services Terms and Conditions Change

The terms and conditions document "{{terms_name}}" for MGHPCC Shared Services has changed.
The previous version that you have read and acknowledged is {{previous_version}}.
The most current version of the document is {{current_version}}.

Please visit https://{{ SITENAME }}{{ url('profile_terms') }}, read the new terms and confirm acceptance.

The MGHPCC Shared Services Team
