MGHPCC Shared Services Account Update - EMAIL CHANGED (Step 2)

An account update with the following details is pending
verification with MGHPCC Shared Services (MSS).

  * First Name:  {{ pending_account_action.firstName }}
  * Last Name:  {{ pending_account_action.lastName }}
  * Username:  {{ pending_account_action.username }}
  * Email:  {{ pending_account_action.email }}

Please validate the update by visiting the following URL:

https://{{ SITENAME }}{{ url('site_validate') }}?regcode={{ regcode }}

If you did not initiate an account update at MSS, please
contact the MSS team at support@mss.mghpcc.org.

The MSS Team
