{% extends "regapp/base.j2" %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>NERC Account Portal - Welcome</h1>
    </div>
</div>
<div class='row mt-4'>
    <div class='col'>
        <p>
            Welcome to the New England Research Cloud. The vision of the New England
            Research Cloud (NERC) is to create a regional resource, rich with world-class
            cloud computing services. We are building a common cloud framework that
            is tailored for data-driven discovery and will be available to many institutions
            in New England.
        </p>
        <p>
            The first step to gain access to NERC is to create a NERC account.
            Follow either of the two links at the right to either register for a new account
            or to manage an existing one.
        </p>
    </div>
    <div class='col-4 ml-4'>
        <div class='row'>
            <div class='col'>
                <a class="btn btn-info" href="{{url('registration_landing')}}">Regsiter for a NERC Account</a>
            </div>
        </div>
        <div class='row mt-4'>
            <div class='col'>
                <a class="btn btn-primary" href="{{url('profile_home')}}">Manage Your NERC Account</a>
            </div>
        </div>


    </div>


{% endblock %}
