
{% extends "regapp_site/base.j2" %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>NERC Account Portal - Welcome!!</h1>
    </div>
</div>
<div class='row mt-4'>
    <div class='col'>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut risus sem, vestibulum vel mollis eu, sollicitudin id purus. Curabitur et erat egestas, commodo elit ut, consequat eros. Duis vitae lorem a quam tempor faucibus. Aliquam venenatis tristique eros, non vestibulum urna placerat nec. Praesent ut urna interdum, vehicula ante et, semper leo. Duis accumsan quam sed risus fringilla, convallis finibus nibh blandit. Suspendisse potenti.

            In massa mauris, fermentum quis sapien sit amet, faucibus tincidunt augue. Pellentesque est libero, fringilla nec finibus quis, rhoncus sit amet ex. Mauris nec maximus ipsum. Sed maximus rutrum luctus. Quisque et dui ut ipsum scelerisque rutrum sed quis est. Sed porta auctor lorem, venenatis sodales turpis tempus ac. Sed suscipit libero rhoncus sapien sagittis, quis egestas enim dignissim. Aliquam facilisis iaculis tellus eu dictum. Vivamus justo ex, varius sit amet mauris ac, tempor vulputate mi.

            Pellentesque bibendum vulputate purus. In eleifend eu sem eu commodo. Quisque in metus lacus. In tincidunt magna a commodo cursus. Sed quis massa justo. Nullam massa augue, vulputate sit amet elit malesuada, fringilla pellentesque urna. Sed bibendum massa et quam cursus porta. Nunc non lobortis dui.

            Sed vehicula sed turpis at iaculis. Aliquam ipsum magna, luctus sed pretium sed, bibendum sit amet massa. Fusce et ipsum et nibh tincidunt mollis ac nec erat. Curabitur molestie, nulla in interdum dictum, neque orci ultrices libero, nec laoreet erat ligula sed purus. Morbi ultricies ac risus et fringilla. Cras nunc ante, imperdiet rhoncus velit eu, maximus gravida nisi. Mauris sagittis orci in dui aliquet, eu vehicula sem porta. Integer et convallis diam. Cras et turpis accumsan nisl venenatis faucibus. Pellentesque in aliquam ligula. Mauris vulputate eros a diam placerat semper. Curabitur ut placerat libero, eu tincidunt tortor. Pellentesque eget placerat sapien. Sed eros elit, condimentum id molestie in, semper quis ante. Nunc vel ante dolor. In pharetra a nibh eget commodo.

            Duis iaculis tincidunt velit, et egestas sem hendrerit at. Fusce consequat tincidunt facilisis. Cras nisi lorem, suscipit sit amet ultricies in, aliquam ac magna. Nulla vitae sollicitudin massa. Vivamus in pharetra leo. Vivamus sollicitudin viverra mi eu vulputate. Ut faucibus lorem ut metus feugiat, eu lobortis dui eleifend.         
        </p>
    </div>
    <div class='col-4 ml-4'>
        <div class='row'>
            <div class='col'>
                <a class="btn btn-primary" href="{{url('registration_landing')}}">Manage Your NERC Account</a>
            </div>
        </div>
        <div class='row mt-4'>
            <div class='col'>
                <a class="btn btn-info" href="{{url('registration_landing')}}">Regsiter for a NERC Account</a>
            </div>
        </div>

    </div>    


{% endblock %}