{% extends "common/base.j2" %}

{% block content %}

<div class="row">
    <div class="column">
        <h1>Storage Management Portal</h1>
        <p class="mt-4">
            Welcome to the storage management site.
        </p>
    </div>
</div>

<div class="row">
    <div class="column">
        <p>
            You are a member of the projects shown BELOW BELOW JIMMBOOOOO!!! 
        </p>
        <p>
            You may manage groups that you are a datamanager for.
        </p>
    </div>
</div>


{% endblock %}