
{% extends "regapp_site/base.j2" %}

{% block content %}

<div class="row">
    <div class="column">
        <h1>NERC Registration Portal - Profile Management</h1>
        <p class="mt-4">
            You may update your NERC user profile here
        </p>
    </div>

</div>


{% endblock %}