---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - minikube_storageclass.yml
  - ../../base

images:
  - name: ghcr.io/nerc-project/regapp-db:main
    newName: mghpcc/regapp-db
    newTag: latest
  - name: ghcr.io/nerc-project/regapp:main
    newName: mghpcc/regapp
    newTag: latest

patches:
  - target:
      kind: Ingress
    path: ingress-cert-manager-staging.yaml
  - target:
      kind: Ingress
    path: ingress-host-regappdev.yaml
  - target:
      kind: PostgresCluster
    path: patch_storage.json
  - target:
      kind: Deployment
    path: patch_etc_hosts.yml


patchesStrategicMerge:
  - patch_debug_switch.yml
  - patch_devel_switch.yml
  - patch_imagepullpolicy.yml
