MSS Account Creation Validation

An account with the following details is pending email 
verification at the New England Research Cloud (MSS).

  * First Name:  {{ pending_registration.firstName }}
  * Last Name:  {{ pending_registration.lastName }}
  * Username:  {{ pending_registration.username }}
  * Email:  {{ pending_registration.email }}

Please validate your email by visiting the following URL:

https://{{ SITENAME }}{{ url('site_validate') }}?regcode={{ regcode }}

If you did not initiate an account creation at MSS, please
contact the MSS team at support@mss.mghpcc.org.

The MSS Team