{% extends "regapp/base.j2" %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>MGHPCC Shared Services Account Creation - Account Exists</h1>
        <p class="mt-4">
            {{user_info.firstName}}, it looks like you already have a MGHPCC-SS account!
        </p>
        <p>
            Here is the information that we currently have on record for you.
        </p>
        <dl class="row mt-4">

            <dt class="col-sm-3">Username</dt>
            <dd class="col-sm-9">{{user_info.username}}</dd>
            <dt class="col-sm-3">First Name</dt>
            <dd class="col-sm-9">{{user_info.firstName}}</dd>
            <dt class="col-sm-3">Last Name</dt>
            <dd class="col-sm-9">{{user_info.lastName}}</dd>
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{user_info.email}}</dd>
            <dt class="col-sm-3">Research Domain</dt>
            <dd class="col-sm-9">{{user_info.attributes.mss_research_domain[0]}}</dd>
            <dt class="col-sm-3">Linked Institutional Account</dt>
            <dd class="col-sm-9">{{user_info.attributes.cilogon_idp_name[0]}}</dd>
        </dl>
        <p>
            If you would like to change any of this information, you can manage your
            account by clicking below.
        </p>
        <a class="btn btn-primary" href="{{url('profile_home')}}">Manage Your MGHPCC-SS Account</a>
    </div>
</div>

{% endblock %}
