MGHPCC-SS Account Creation Confirmation

An account with the following details is pending email
confirmation at the New England Research Cloud (MGHPCC-SS).

  * First Name:  {{ account_action.firstName }}
  * Last Name:  {{ account_action.lastName }}
  * Username:  {{ account_action.username }}
  * Email:  {{ account_action.email }}
  * Research Domain {{ account_action.research_domain_name }}

Your account creation confimation code is:

{{ account_action.regcode }}

Please visit https://{{ SITENAME }}{{ url('site_validate') }} and enter
your confirmation code to complete the account creation process.

If you did not initiate an account creation at MGHPCC-SS, please
contact the MGHPCC-SS team at {{ EMAIL_MSS_SUPPORT }}.

The MGHPCC-SS Team
