{% extends "regapp/base.j2" %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>NERC Account Creation</h1>
        <p class="mt-4">
            Welcome to the NERC account creation page! You have chosen the following
            logon to link to your NERC account: 
            <br><br>
            <em>{{user_info.idp_name}}</em>
            <br><br>
            This organization has shared some information
            about you with us already and we have filled that infomation in 
            below. Please review the information, make any corrections that you need and 
            fill in any blank fields. 
        </p>
        <p>
        Please make sure that you provide a valid email address that you control. After 
        completing and submitting the form, we will send you an email with a confirmation link
        in it that will be used to validate your account. You will need to follow that link to complete
        the account creation process.
        </p>
    </div>
</div>
<hr/>
<div class="row mt-4">
    <div class="col">

        <h4>New Accout Profile information</h4>

        <form id="{{form.helper.form_id}}" action="{{request.path_info}}" method="GET">
            {{ csrf_input }}
            {{ crispy(form) }}
            <div class="float-right">
                <input id="createaccount" name="createaccount" type="submit" class="btn btn-primary" value="Create NERC Account" />
            </div>
        </form>
    </div>
</div>

{% endblock %}