{% extends "registration/base.j2" %}

{% block content %}

<div class="row">
    <div class="column">
        <h1>NERC Registration Portal - Account creation</h1>
        <p class="mt-4">
            You may create your NERC user profile here
        </p>
    </div>

</div>


{% endblock %}