---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: pgo-s3-conf
spec:
  target:
    name: pgo-s3-conf
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  dataFrom:
    - extract:
        key: accounts/holecs
